# GCC 9.0
build:gcc9 --cxxopt=-std=c++17
build:gcc9 --cxxopt=-Wall
build:gcc9 --cxxopt=-Werror

# GCC 11.2
build:gcc11 --cxxopt=-std=c++17
build:gcc11 --cxxopt=-Wall
build:gcc11 --cxxopt=-Werror

# macOS (e.g. Clang 12.0.0)
build:clang12 --cxxopt=-std=c++17
build:clang12 --cxxopt=-Wall
build:clang12 --cxxopt=-Werror

# Windows Visual Studio 2019
build:vs2019 --cxxopt=/std:c++17
build:vs2019 --cxxopt=/Zc:__cplusplus
build:vs2019 --define compiler=vs2019
build:vs2019 --copt=-DWIN32_LEAN_AND_MEAN
build:vs2019 --copt=-DNOGDI
build:vs2019 --host_copt=-DWIN32_LEAN_AND_MEAN
build:vs2019 --host_copt=-DNOGDI

# Windows Visual Studio 2022
build:vs2022 --cxxopt=/std:c++17
build:vs2022 --cxxopt=/Zc:__cplusplus
build:vs2022 --define compiler=vs2022
build:vs2022 --copt=-DWIN32_LEAN_AND_MEAN
build:vs2022 --copt=-DNOGDI
build:vs2022 --host_copt=-DWIN32_LEAN_AND_MEAN
build:vs2022 --host_copt=-DNOGDI

# If no build config was specified, we should try to use these based on os
common --enable_platform_specific_config
build:linux --config=gcc11
build:macos --config=clang12
build:windows --config=vs2022
